#socialinfo
  display: inline-block
  list-style: none
  padding: 0
  margin: 0
  li
    display: inline-block
  li:after
    content: ", "
  li:last-child:after
    content: ""
  li:nth-last-child(2):after
    content: " dan "

.post-list
  padding: 0
  .post-item
    list-style-type: none
    margin-left: 0
    margin-bottom: 1rem
    .meta
      display: block
      font-size: 14px
      color: #666
      min-width: 100px
      margin-right: 16px

@media (min-width: 480px)
  .post-list
    .post-item
      display: flex
      margin-bottom: 5px
      .meta
        text-align: left

.project-list
  padding: 0
  list-style: none
  .project-item
    margin-bottom: 5px
